![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fcallysto%2Fpresentations&branch=master&subPath=health-data-privacy.ipynb&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/callysto/curriculum-notebooks/master/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/> </a>

# Data Privacy Locked Room

## Introduction

You're spending time with your friend one day, killing time waiting for your ride to arrive. Your friend is on their phone, mindlessly scrolling through their social media, when you happen to see a photo pop up in their feed:

![](img/iStock-604903908.jpeg)

The photo catches your eye! You're not familiar with the person who posted the picture (and your friend says it's just an acquaintance of theirs), but you do recognize an old friend of yours in the dark red plaid shirt on the left, Sarah. It's been a long time since you've seen her, and you'd love to get back in contact with her. Unfortunately, she seems to have removed herself from all forms of social media, and the only information you know about her is:

- She's since married and changed her last name
- Her husband is the man in the blue plaid with the guitar
- The dog on the left in the photo is their dog
- The location the photo was tagged in is a popular campground near your city

**Using your data science skills, along with the information you just acquired and the resources you have access to, can you connect the data to find a way to get in contact with your old friend?**

The first dataset you come across is a spreadsheet of contact info from a local dog group that you think Sarah and her husband belong to:

### Dataset #1 - Pet Group Contact List

In [13]:
import pandas as pd
petDf = pd.read_csv('data/PetGroupContactList.csv')
petDf
petDf[petDf['Breed']=='Golden Retriever']

   Pet Name             Breed  Owner Owner Phone Number
22  Charlie  Golden Retriever  Jason       834-352-0013

### Dataset #2 - ?

In [17]:
# Paste code snippet from Google Form below
searchDf = pd.read_csv('data/InternetSearchLeak.csv')
searchDf
searchDf[searchDf['Phone Number']=='834-352-0013']

          IP Address  Phone Number                          Search History
127  097.219.118.232  834-352-0013                                955+31=?
130  191.205.088.093  834-352-0013            is my iphone listening to me
139  087.138.169.223  834-352-0013                     is my laptop 64 bit
203  163.201.103.151  834-352-0013        who the richest man in the world
344  134.077.108.250  834-352-0013               is my blood pressure high
394  161.174.208.095  834-352-0013             dvla how much is my car tax
404  190.032.249.067  834-352-0013         symptoms of high blood pressure
520  077.231.103.218  834-352-0013               what is the NHANES study?
541  161.175.170.146  834-352-0013         have the browns won a superbowl
573  138.187.109.158  834-352-0013               what is the NHANES study?
595  208.030.043.227  834-352-0013               is my blood pressure high
600  072.207.170.236  834-352-0013         symptoms of high blood pressure
616  213.231.011.148  834-352-0013                   north node what is my
805  243.027.138.079  834-352-0013  email address what is my email address
840  160.091.180.069  834-352-0013         is my newborn sleeping too much
925  102.047.150.122  834-352-0013         is my xbox controller bluetooth
992  042.012.145.191  834-352-0013               what is the NHANES study?
997  026.238.251.180  834-352-0013         symptoms of high blood pressure

### Dataset #3 - ?

In [18]:
# Post code snippet from Google Form below

nhanesDf = pd.read_csv('data/nhanes.csv')
nhanesDf[(nhanesDf['Systolic BP']>140) &
     (nhanesDf['Sex']=='Male') &
     (nhanesDf['Marital Status']=='Married/Living with Partner') &
     (nhanesDf['Age']<30)]

            ID  Systolic BP   Age   Sex               Marital Status
2659  114782.0        141.0  24.0  Male  Married/Living with Partner
5559  120678.0        144.0  29.0  Male  Married/Living with Partner
5876  121358.0        152.0  29.0  Male  Married/Living with Partner
6448  122526.0        144.0  23.0  Male  Married/Living with Partner
7398  124347.0        158.0  26.0  Male  Married/Living with Partner